.operations{
    display: grid;
    grid-template-columns: 56px 56px 56px 56px;
    column-gap: 2px;
    row-gap: 2px;
    margin: 10px;
}
.num,.num1{
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    background-color:rgb(12, 12, 12);
}
.num1{
    background-color: rgb(190, 144, 16);
    font-weight: bold;
    border-radius: 100%;
}
.calculator-body{
    margin: 0px auto;
    color: white;
    width: 250px;
    background-color: rgb(12, 12, 12);
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0.01);
}
.display1{
    font-size: 14px;
    text-align: end;
    margin: 0 auto;
    width: 216px;
    padding: 5px 8px;
    height: 50px;
    background-color: rgb(34, 34, 34);
}
.num:hover{
    background-color: rgb(34, 34, 34);
}
.display2{
    font-size: 20px;
    font-weight: bold;
}